*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  text-align: center;
  margin-top: 20px;
}

.logo_img {
  display: flex;
  justify-content: center;
  height: 67px;
}
// scss error
.accessories {
  align-self: center;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 210px;
  position: relative;
  bottom: 60px;
}

.accessories .btn {
  font-size: .8rem;
  background: #fff;
  color: #000;
  width: 10%;
  height: 5vh;
}
.nav_links {
  display: flex;
  justify-content: center;
  // margin-top: .5rem;
  gap: 30px;
}

.nav_links li {
  list-style: none;
  font-weight: light;
}
