*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}

.logo {
  text-align: center;
  margin-top: 20px;
}

.logo_img {
  display: flex;
  justify-content: center;
  height: 67px;
}

.accessories {
  align-self: center;
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-right: 210px;
  position: relative;
  bottom: 60px;
}

.accessories .btn {
  // padding: 11px;
  background: #fff;
  color: #000;
}
.nav_links {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav_links li {
  list-style: none;
  font-weight: light;
}
